.counter {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;

  .counter-btn {
    width: 30px;
    height: 30px;
    background-color: beige;
    border: 1px solid gray;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  .counter-value {
    padding: 0 20px;
  }
}